:root:not([data-theme=dark]) {
	--color-team1: #c08f36;
	--color-team2: #0c7f36;
}

.team1-color {
	color: var(--color-team1);
	font-weight: 600;
}

.team2-color {
	color: var(--color-team2);
	font-weight: 600;
}

/* Utility styles */
[role='button'].outline.secondary {
	margin-top: 1rem;
}
.text-center {
	text-align: center;
}

button.as-link {
    background: none;
    border: none;
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
	text-decoration: underline;
}
