:root:not([data-theme=dark]) {
	--color-team1: #c08f36;
	--color-team2: #0c7f36;
}

.team1-color {
	color: var(--color-team1);
	font-weight: 600;
}

.team2-color {
	color: var(--color-team2);
	font-weight: 600;
}

.badge {
    box-shadow: 0px 4px 5px var(--primary);
    color: var(--primary);
    background-color: hsl(195, 85%, 95%);
    border-radius: 10px;
    padding: 5px;
    font-size: 0.6em;
}

[data-tooltip].unstyled-tooltip-handler {
	border-bottom: none;
}
/* Utility styles */
[role='button'].outline.secondary {
	margin-top: 1rem;
}
.text-center {
	text-align: center;
}

button.as-link {
    background: none;
    border: none;
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
	text-decoration: underline;
}
.full-width {
	width: 100%;
}
